<div class="table-container">
  <table class="table is-bordered is-hoverable">
    <thead>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>name</th>
        <th>email</th>
        <th>tel</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < data.rows.length; i++) {%>
        <tr onclick="tableClick(this)">
          <td><%= data.rows[i].id %></td>
          <td><%= data.rows[i].username %></td>
          <td><%= data.rows[i].name %></td>
          <td><%= data.rows[i].email %></td>
          <td><%= data.rows[i].tel %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
